@import url('https://fonts.googleapis.com/css2?family=Syne+Mono');

* {
  font-family: "Syne Mono", monospace;
}

body {
  margin: 0;
}


body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: auto 150vh;
  background-position: top;
  background-image: url('2025-winter.jpeg');
  z-index: -1;
}

#title {
  font-size: 5em;
  color: #fff;
    text-shadow: 10px 10px #000;
}


#person {
  cursor: pointer;
}

#content > div {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  box-shadow: 10px 10px #000;
  background-color: #000;
}

a:link {
  color: darkslategray;
}
a:visited {
  color: darkslategray;
}
a:hover {
  color: #0f0;
}


#main {
  text-align: center;
  width: 100%;
}
