@import url('https://fonts.googleapis.com/css2?family=Syne+Mono');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');


body {
  font-family: "Syne Mono", monospace;
  margin: 0;
}


body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: auto 150vh;
  background-position: top;
  background-image: url('2025-winter.jpeg');
  z-index: -1;
}

#title {
  font-size: 5em;
  color: #b0b;
  text-shadow: 2px 2px 2px #00b;
}


#person {
  cursor: pointer;
}

#content > div {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  box-shadow: 10px 10px #000;
}

.img-div {
  background-color: #000;
}

a { text-decoration: none }

a:link {
  color: darkslategray;
}
a:visited {
  color: darkslategray;
}
a:hover {
  color: #0f0;
  text-decoration: underline;
}


#main {
  text-align: center;
  width: 100%;
}

.widget {
  width: 300px;
}

#taylor-swift {
  background-color: #828;
  color: #fff;
  font-family: "Borel", system-ui;
  padding: 10px;

  a { color: #fff }
  a:hover { color: #fff }

  &:hover {
    background-color: #b6b;
  }
}


#rap {
  background-color: #000;
  color: #bb0;
  font-family: "Lacquer", system-ui;

  h2 { font-size: 2rem; }

  a { color: #fff }
  a:hover { color: #fff }

  &:hover {
    background-color: #666;
  }
}

#demigods {

  background-color: #333;
  font-family: "Orbitron", sans-serif;

  width: 300px;
  

  h2 { 
      color: #b0b; 
      font-size: 2rem;
    }

  a { color: #b0b; }
  a:hover { color: #f0f; }

  p { color: #0b0; }

  &:hover {
    background-color: #333;
  }
}
    
#country {

  background-color: #960;
  font-family: "Diplomata", serif;

  width: 300px;
  

  h2 { 
      color: #fff; 

    }

  a { color: #fff; }
  a:hover { color: #fff; }

  p { color: #bbb; }

  &:hover {
    background-color: #630;
  }
}

