/* @import url("https://github.com/ryantuck/roam-themez/raw/master/roam_1337_dark.user.css"); */

* {
  font-family: monospace;
}

body {
  background-image: url('tzb.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 140vh;
/*   width: 100vh;
  height: 100vh;
  border: 5px solid blue; */
}

#title {
  font-size: 5em;
  color: blue;
}

#person {
  cursor: pointer;
}

#content > div {
  display: inline-block;
  vertical-align: top;
}

a:link {
  color: magenta;
}
a:visited {
  color: magenta;
}
a:hover {
  color: #0f0;
}


#main {
  text-align: center;
  width: 100%;
}

#links {
  list-style-type: none;
}

.linkDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

#links img {
  height: 50px;
}

.linkImgDiv {
  /* account for variable widths of images */
  text-align: center;
  width: 100px;
}

#links span {
  font-size: 2em;
}
