@import url('https://fonts.googleapis.com/css2?family=Syne+Mono');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');


body {
  font-family: "Syne Mono", monospace;
  margin: 0;
}


body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: auto 150vh;
  background-position: top;
  background-image: url('2025-winter.jpeg');
  z-index: -1;
}

#title {
  font-size: 5em;
  color: #fff;
  text-shadow: 10px 10px #000;
}


#person {
  cursor: pointer;
}

#content > div {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  box-shadow: 10px 10px #000;
}

.img-div {
  background-color: #000;
}

a { text-decoration: none }

a:link {
  color: darkslategray;
}
a:visited {
  color: darkslategray;
}
a:hover {
  color: #0f0;
  text-decoration: underline;
}


#main {
  text-align: center;
  width: 100%;
}

.widget {
  width: 300px;
}

#taylor-swift {
  background-color: #828;
  color: #fff;
  font-family: "Borel", system-ui;

  a { color: #fff }
  a:hover { color: #fff }

  &:hover {
    background-color: #b6b;
  }
}
