@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
  font-family: "Lacquer", system-ui;
  color: white;
}

body {
    background-color: black;
}

code {
  white-space: pre;
}

* {
    box-sizing: border-box;
}

.b {
    display:flex;
    flex-direction:column;
    flex: 1;
    justify-content: flex-start;

    /*height:1024vh;*/
    /*aspect-ratio : 1 / 48;*/

    font-size: 0.9em;
}

.b div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border-bottom: 3px solid white;
    padding: 5px;

    cursor: crosshair;
}

.b div:hover {
    color: #ff3;
}

.b div:hover .title { text-shadow: 3px 3px #000; }

.b div:nth-child(even) {
    border-right: 3px solid white;
}


/* bracket rounds */
#bracket .b:nth-child(1)                    {   background-color: #222;     }
#bracket .b:nth-child(2)                    {   background-color: #333;     }
#bracket .b:nth-child(3)                    {   background-color: #444;     }
#bracket .b:nth-child(4)                    {   background-color: #555;     }
#bracket .b:nth-child(5)                    {   background-color: #666;     }
#bracket .b:nth-child(6)                    {   background-color: #555;     }
#bracket .b:nth-child(7)                    {   background-color: #444;     }
#bracket .b:nth-child(8)                    {   background-color: #333;     }

/* height doubles each round */
#bracket .b:nth-child(1) div      {   height: 16vh; font-size: 1em;               }
#bracket .b:nth-child(2) div      {   height: 32vh; font-size: 1.1em;               }
#bracket .b:nth-child(3) div      {   height: 64vh; font-size: 1.2em;               }
#bracket .b:nth-child(4) div      {   height: 128vh; font-size: 1.3em;              }
#bracket .b:nth-child(5) div      {   height: 256vh; font-size: 1.4em;             }
#bracket .b:nth-child(6) div      {   height: 512vh; font-size: 1.5em;              }
#bracket .b:nth-child(7) div      {   height: 1024vh; font-size: 1.6em;             }
#bracket .b:nth-child(8) div      {   height: 2048vh; font-size: 1.7em;                }

/* adjust to center stuff */
#bracket .b:nth-child(1) div:nth-child(1)    {   height:12vh;                }
#bracket .b:nth-child(2) div:nth-child(1)    {   height:20vh;                }
#bracket .b:nth-child(3) div:nth-child(1)    {   height:36vh;                }
#bracket .b:nth-child(4) div:nth-child(1)    {   height:68vh;                }
#bracket .b:nth-child(5) div:nth-child(1)    {   height:132vh;               }
#bracket .b:nth-child(6) div:nth-child(1)    {   height:260vh;               }
#bracket .b:nth-child(7) div:nth-child(1)    {   height:516vh;               }
#bracket .b:nth-child(8) div:nth-child(1)    {   height:1028vh;                 }

#bracket .b div:hover .title { color: #ff0; }
#bracket .b div .artists { color: #999; }
#bracket .b div:hover .artists { color: #999; }

@media screen and (max-width:767px) {
    #bracket {
        /*min-width: 200vw;*/
    }
}

body {
    background-color: black;
}
* {
    color: white;
    box-sizing: border-box;
}
.squad-container {
    height:80vh;

    display:flex;
    justify-content:flex-start;
    align-items:flex-start;

    cursor: crosshair;
}

.round-1 {
    height:100%;
    aspect-ratio: 2 / 3;

    display:flex;
    flex-direction:column;
    justify-content:space-around;

    background-color:#333;
	font-size: 1em;
}
.round-1 div { padding: 10px }

.round-2 {
    height:100%;
    aspect-ratio: 2 / 3;

    display:flex;
    flex-direction:column;
    justify-content:space-around;

    background-color:#222;
    font-size:1.5em;
}
.round-2 div { padding: 20px }

.rankings {
    height:100%;
    aspect-ratio: 3 / 4;
    /*width:36vw;*/

    display:flex;
    flex-direction:column;
    justify-content:center;

    background-color:#111;
    font-size:2em;
}
.rankings div { padding: 30px }

.round-1:hover div li .title { text-shadow: 1px 3px #000; }

.round-1:hover div li:nth-child(1)  {  }
.round-1:hover div li:nth-child(2)  {  }
.round-1:hover div li:nth-child(3) * { color: #600; }
.round-1:hover div li:nth-child(4) * { color: #600; }

.round-1:hover div li:nth-child(1) .title { color: #ff3; }
.round-1:hover div li:nth-child(2) .title { color: #ff9; }
.round-1:hover div li:nth-child(3) .title { color: #f33; }
.round-1:hover div li:nth-child(4) .title { color: #f33; }

.round-1:hover div li:nth-child(1) .artists { color: #999; }
.round-1:hover div li:nth-child(2) .artists { color: #999; }
.round-1:hover div li:nth-child(3) .artists { color: #666; }
.round-1:hover div li:nth-child(4) .artists { color: #666; }

.round-2:hover div li .title { text-shadow:1px 3px #000; }

.round-2:hover div li:nth-child(1)  {  }
.round-2:hover div li:nth-child(2)  {  }
.round-2:hover div li:nth-child(3) * { color: #600; }
.round-2:hover div li:nth-child(4) * { color: #600; }

.round-2:hover div li:nth-child(1) .title { color: #ff3; }
.round-2:hover div li:nth-child(2) .title { color: #ff9; }
.round-2:hover div li:nth-child(3) .title { color: #f33; }
.round-2:hover div li:nth-child(4) .title { color: #f33; }

.round-2:hover div li:nth-child(1) .artists { color: #999; }
.round-2:hover div li:nth-child(2) .artists { color: #999; }
.round-2:hover div li:nth-child(3) .artists { color: #666; }
.round-2:hover div li:nth-child(4) .artists { color: #666; }

.rankings:hover div li .title { text-shadow: 2px 3px #333; }

.rankings:hover li:nth-child(1) .title { color: #ff0; }
.rankings:hover li:nth-child(2) .title { color: #ff4; }
.rankings:hover li:nth-child(3) .title { color: #ff8; }
.rankings:hover li:nth-child(4) .title { color: #ffb; }

.rankings:hover li:nth-child(1) .artists { color: #999; }
.rankings:hover li:nth-child(2) .artists { color: #999; }
.rankings:hover li:nth-child(3) .artists { color: #999; }
.rankings:hover li:nth-child(4) .artists { color: #999; }


